
/*******constnt parameters********/
*{
    margin: 0%;
    padding: 0%;
}
body{
    display: flex;

padding: 24px 19px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 40px;

}
p{
    font-family: 'Urbanist', sans-serif;
    color: #000;

font-family: Urbanist;
font-size: 16px;
font-style: normal;
font-weight: 900;
line-height: normal;

}
h1,h2,h3{
    font-family: 'Urbanist', sans-serif;
}
a{
    font-family: 'Urbanist', sans-serif;

    text-align: center;
    text-decoration: none;
}

ul{
    width: 1145px;
    
}

/***********img edit*************/


#branLogo{

    padding: 20px;
    width: 10vh;

}


#imgSize1{
    
    width: 20vw;
    height: auto;

}
#imgSize2{
    width: 7vw;
    height: auto;
}

#buttonImg{
    display: flex;
justify-content: center;
align-items: center;
gap: 19px;
}


/*****boxes*******/

.ContactMeBox{
    display: flex;
padding: 8px 7px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 8px;


}
.box{
    display: flex;
    min-width: 1164px;
    height: 60vh;
    align-items: center;
    gap: 582px;
   
}
.boxUL{
    display: flex;
justify-content: center;
align-items: center;
gap: 19px;
}

#quoteBox1{
    width: 1000px;
    padding: 200px 0px;
display: flex;
flex-direction: column;
align-items: flex-end;
gap: 39px;
}


#navBtImg{
 width: 5vw;
 height: auto; 
}

/************proects boxes**************/

.ProjectsBoxes{
    display: flex;
width: 930px;
justify-content: center;
align-items: center;
align-content: center;
gap: 6px 0px;
flex-wrap: wrap;
}

.nullBox{
display: flex;
width: 460px;
height: 280px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
}

#pelaton{
    width: 400px;
height: 226px;
flex-shrink: 0;
background-color: red;
}

#JokLeisrael{
    width: 400px;
height: 226px;
flex-shrink: 0;
background-color: red;
}

#MesilotHatora{
    width: 400px;
height: 226px;
flex-shrink: 0;

background-color: red;
}

#FinalProject{
    width: 400px;
    height: 226px;
    flex-shrink: 0;
    background-color: red; 
}
#SocialNetwork{
    display: flex;
width: 156px;
height: 19.545px;
justify-content: center;
align-items: center;
gap: 34px;
}

#social-icons{
    width: 35px;
    height: auto;
}


/*******video********/
.video-bg{
    align-content: center;
    justify-content: center;
    position: absolute;
    max-width: 70%;
    opacity: 100%;
    top: 0px;
    z-index: -1;

}