/******Golbal enviroment***********/
html{

    scroll-behavior: smooth;
     resize: none;
}

body {
    background-color: white;
    margin: 0%;
    padding: 0%;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;

}
h1{
    font-family: 'Urbanist', sans-serif;
}
p{
    font-family: 'Urbanist', sans-serif;
   
}
a{
    text-decoration: none;
}


.wrapper{

    margin: 0%;
    padding: 0%;
    
    
}



/******PNG design********/

#imgAF {
    width: 500px;
    height: 0%;
    padding: 50px;
    position: relative;
    bottom: -35vh;






    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
}




#imgContact{

    
    width: 200px;
    height: 0%;
    left: 700px;
    position: relative;
    bottom: -30vh;
    
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
    


    
}
.imgVector20{
    width: 200px;
    height: 0%;
    left: 490px;
    position: relative;
    bottom: -35vh;


    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
   
}


#SocialIcons{

    
    width: 40px;

}
.lines{
    

    width: 75vw;
}


/*****text designs********/




/********boxes************/



.boxLanding{
   
    width: 100%;
    min-height: 900px;
}


.boxQuote{

    display: flex;
    font-weight: bold;
    width: auto;
    height: 700px;
    justify-content: center;
    align-items: center;
    align-content: center;

}

#quote{ 
   
 
    
    font-size: 25px

    
    
}

#BoxProjects1{
    margin: auto;
    display: flex;
    width: 1500px;
    gap: 50px 38px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
        
        
   
}
.spaceBox{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 100px;

}


/*****projects boxes/buttons******/





.projectBox{
    background-color: gray;
    width: 700px;
    height: 500px;
    


}

#socialmediabox{
   
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: 100px;
    


}




.iconsBehavior{

    margin: 10px;
    display: flex;
    gap: 10px 3px;
    flex-wrap: wrap;
    
}



/******animations********/


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }